{% extends 'base.html.twig' %}

{% block body %}
<h1>Bienvenue sur le site</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, dicta. Dolorem quis perferendis deleniti! Aspernatur dolorem saepe laudantium accusantium qui, nihil quia consectetur quam quaerat ipsam rem inventore cum nostrum est ducimus soluta a ut enim eveniet debitis, quisquam sit?</p>
    <p>Rerum debitis, ipsa minus quisquam fugit dolore consectetur nihil placeat, repudiandae perferendis officiis odio architecto culpa beatae ex? Non animi a ad atque cum alias vitae eligendi tempore officia perferendis quasi totam aliquid vel, ipsa error fuga impedit dolorem numquam.</p>

{% endblock %}