<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width">
		<title>Bienvenue sur le site SnowTricks !</title>
		<style>
			body {
				margin: 0;
				padding: 15px 30px;
				background-size: cover;
				font-family: Helvetica, Arial, sans-serif;
				position: relative;
				color: white;
			}
			body::before {
				content: "";
				width: 100%;
				height: 100vh;
				position: absolute;
				top: 0;
				left: 0;
				background-color: rgba(0, 0, 0, 0.3);
			}
			.content {
				position: absolute;
				z-index: 20;
			}
			a {
				align-self: center;
				background-color: #89ACAA;
				border-radius: 5px;
				color: white;
				padding: 10px;
				text-decoration: none
			}
			a:hover {
				background-color: rgba(137, 172, 170, 0.5);
			}
		</style>
	</head>

	<body>
		<div class="content">
			<h1>Réinitialisation de votre mot de passe</h1>
			<p>Vous recevez ce mail suite à la demande de réinitialisation de votre mot de passe,
				<br><br>
				veuillez cliquer sur le lien ci-dessous pour l'activer :</p>
			<p>
				<a href="{{ absolute_url(url) }}">Réinitialisez votre mot de passe</a>
			</p>

		</div>
	</body>
</html>
